obj
bin
# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.E-comm app.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/.idea.E-comm app/.idea/dataSources.xml
.idea/.idea.E-comm app/.idea/encodings.xml
.idea/.idea.E-comm app/.idea/indexLayout.xml
.idea/.idea.E-comm app/.idea/vcs.xml
.idea/.idea.E-comm app.dir/.idea/encodings.xml
.idea/.idea.E-comm app.dir/.idea/indexLayout.xml
.vs/E-comm app/config/applicationhost.config
.vs/E-comm app/DesignTimeBuild/.dtbcache.v2
.vs/E-comm app/FileContentIndex/6f2a9063-3496-4028-a58e-d9f386dcf360.vsidx
.vs/E-comm app/FileContentIndex/21b3c2c0-e59f-41ce-9687-7a57f5deeb96.vsidx
.vs/E-comm app/FileContentIndex/read.lock
.vs/E-comm app/v17/.futdcache.v2
.vs/E-comm app/v17/.suo
.vs/ProjectEvaluation/e-comm app.metadata.v5.1
.vs/ProjectEvaluation/e-comm app.projects.v5.1
.idea/.idea.E-comm app/.idea/.gitignore
.idea/.idea.E-comm app.dir/.idea/.gitignore
API/appsettings.json
*.db